# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\smstr5\JavaLabs\MyWebService\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
